{{ define "page" }}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Editor | Art</title>

</head>

<body class="px-4 bg-slate-100">
  <h1 class="text-center w-full text-7xl tracking-tight leading-snug mt-20 mb-8 font-bold font-serif italic">
    Art Editor
  </h1>

  <div aria-hidden="true" class="text-xl text-white italic self-center text-center mb-2">
  </div>
  <form hx-post="/api/posts" hx-target="previous div "
    class=" shadow-2xl shadow-black/30 flex flex-col bg-gray-100 rounded-md overflow-hidden">

    <input class="px-4 mt-2 w-full h-10 border outline-none focus:border-pink-700 transition-all" type="text"
      name="author" placeholder="Author Name" required>
    <input class="px-4 mt-2 w-full h-10 border outline-none focus:border-pink-700 transition-all" type="text"
      name="title" placeholder="Article Title" required>
    <input class="px-4 my-2 w-full h-10 border outline-none focus:border-pink-700 transition-all" type="text"
      name="description" placeholder="Description" required>
    <textarea id="markdown-editor" name="content"></textarea>

    <button
      class="px-6 self-start min-w-[120px] h-10 hover:bg-slate-700 rounded-md bg-slate-900 transition-all grid place-items-center text-white text-lg mb-6 mt-8 mx-6">
      Post
    </button>
  </form>

  <script>
    const mde = new SimpleMDE({
      autofocus: true,
      autosave: true,
      delay: 1000,
      uniqueId: "writer-main",
      element: document.getElementById("markdown-editor"),
    });
  </script>
</body>

</html>

{{ end }}
