{{define "page"}}

<main class="flex flex-col gap-12 items-center w-full my-20">
  <h1 class="text-7xl text-center tracking-tight font-serif leading-snug">
    Ehab Sohail
  </h1>
  <p class="text-lg text-center leading-loose font-serif">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>

  {{template "button"}}
  <button type="button" hx-get="/api/auth/user" class="bg-pink-500 px-6 h-10 text-white grid place-items-center">
    Status
  </button>

  <button id="sweet-alert" type="button" class="bg-pink-500 px-6 h-10 text-white grid place-items-center">Sweet
    Alert</button>
  <script>
    document.getElementById("sweet-alert").addEventListener("click", function () {
      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#d33",
        cancelButtonColor: "#3085d6",
        confirmButtonText: "Yes, delete it!",
      }).then(async (result) => {
        if (result.isConfirmed) {
          await new Promise((r) => setTimeout(r, 400));
          Swal.fire("Deleted!", "Your file has been deleted.", "success");
        } else {
          console.log('cancelled')
        }
      });
    });
  </script>
</main>

{{end}}
