{{define "page"}}

<main class="flex flex-col gap-12 items-center w-full my-20">
  <h1 class="text-7xl text-center tracking-tight font-serif leading-snug">
    Ehab Sohail
  </h1>
  <p class="text-lg text-center leading-loose font-serif">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>

  {{template "button"}}

  <div class="bg-green-500 w-80 h-96"></div>
  <div class="bg-orange-500 w-80 h-96"></div>
  <div class="bg-pink-500 w-80 h-96"></div>
  <div class="bg-sky-500 w-80 h-96"></div>
  <div class="bg-red-500 w-80 h-96"></div>
</main>

{{end}}
