{{define "page"}}
<main>
  <div>
  </div>

  <form hx-post="/api/auth/register" hx-target="previous div" class="mt-12 flex flex-col">
    <input class="px-4 mt-2 w-full h-10 border outline-none focus:border-pink-700 transition-all" type="text"
      name="name" placeholder="Name" required>
    <input class="px-4 mt-2 w-full h-10 border outline-none focus:border-pink-700 transition-all" type="email"
      name="email" placeholder="Email" required>
    <input class="px-4 mt-2 w-full h-10 border outline-none focus:border-pink-700 transition-all" type="password"
      name="password" placeholder="Password" required>
    <input class="px-4 mt-2 w-full h-10 border outline-none focus:border-pink-700 transition-all" type="password"
      name="confirm_password" placeholder="Confirm Password" required>
    <button type="submit" class="mt-2 bg-pink-500 px-6 h-10 text-white grid place-items-center">Register</button>
  </form>
  <p class="text-center self-center mt-4">
    Already have an account?&nbsp;
    <a href="/login" hx-boost="true" class="text-white duration-500 transition-all  hover:text-pink-700">Log in</a>
  </p>
</main>
{{end}}
